* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: blue; }

footer {
  background-image: linear-gradient(to top violet, black);
  background-size: cover; }

.titulo_index {
  color: #71ff33; }

.imagenlogo {
  display: flex;
  width: 100px;
  height: 100px; }

section {
  background-image: url(../Multimedia/fondoindex2.jpg);
  background-size: cover;
  width: 100%; }

li {
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: blue; }

footer {
  background-image: linear-gradient(to top violet, black);
  background-size: cover; }

.imagenlogo {
  display: flex;
  width: 100px;
  height: 100px; }

@media only screen and (max-width: 468px) {
  .nav {
    display: flex;
    background-image: url(../Multimedia/portada.webp);
    background-size: 100%; }
  .items {
    display: block; }
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px; }
  .servicios_section {
    width: 100%;
    background-image: url(../Multimedia/fondoindex2.jpg); }
  .servicios_contenedor_contenido1 {
    width: 100%;
    display: block; }
  .servicios_contenido1_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center;
    align-items: center; }
  .servicios_contenido1_texto {
    margin-top: 20px;
    color: #71ff33;
    font-family: georgia;
    text-align: justify; }
  .servicios_contenido1_subtitulo2 {
    font-family: Georgia;
    align-items: center;
    text-align: center;
    color: #71ff33; }
  .servicios_contenido1_texto2 {
    color: #71ff33;
    text-align: justify;
    font-family: Georgia; }
  .servicios_contenido1_imagen {
    width: 350px;
    align-items: center;
    text-align: center; }
  .servicios_contenido2 {
    width: 100%; }
  .servicios_contenido2_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center;
    margin-top: 30px; }
  .servicios_contenido1_texto2 {
    color: #71ff33;
    text-align: justify; }
  .servicios_contenido2_lista {
    color: #71ff33; }
  li {
    list-style: circle; }
  .servicios_contenido3 {
    width: 100%; }
  .servicios_contenido3_subtitulo {
    color: #71ff33;
    text-align: center; }
  .servicios_contenido3_imagen {
    width: 350px;
    text-align: center; }
  .servicios_contenido3_texto {
    color: #71ff33;
    text-align: justify;
    font-family: georgia;
    padding-top: 20px; }
  .servicios_contenido4 {
    width: 100%; }
  .servicios_contenido4_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center; }
  .lista_contenido4 {
    color: #71ff33;
    font-family: georiga; }
  .servicio_contenido5 {
    width: 100%; }
  .servicios_contenido5_subtitulo {
    color: #71ff33;
    text-align: center;
    font-family: georgia; }
  .servicios_contenido5_texto {
    color: #71ff33;
    font-family: georgia;
    text-align: justify; }
  .servicios_contenido6 {
    width: 100%; }
  .servicios_contenido6_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center; }
  .servicios_contenido6_texto {
    color: #71ff33;
    font-family: georgia;
    text-align: justify; }
  .texto_servicios_footer {
    color: #fff;
    font-family: georgia;
    text-align: center; }
  .a_servicios {
    color: violet; }
  .li_logo_footer {
    list-style: none; }
  .logo_footer {
    gap: 10px; } }

@media only screen and (min-width: 468px) and (max-width: 1023px) {
  .nav {
    display: block;
    background-image: url(../Multimedia/portada.webp);
    background-size: cover; }
  .items {
    display: flex;
    flex-direction: row; }
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px; }
  .servicios_section {
    padding: 60px;
    background-image: url(../Multimedia/fondoindex2.jpg); }
  .servicios_contenedor_contenido1 {
    width: auto; }
  .servicios_contenido1_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center;
    align-items: center; }
  .servicios_contenido1_texto {
    margin-top: 20px;
    color: #71ff33;
    font-family: georgia;
    text-align: justify; }
  .servicios_contenido1_subtitulo2 {
    font-family: Georgia;
    align-items: center;
    text-align: center;
    color: #71ff33; }
  .servicios_contenido1_texto2 {
    color: #71ff33;
    text-align: justify;
    font-family: Georgia; }
  .servicios_contenido1_imagen {
    width: 350px;
    align-items: center;
    text-align: center; }
  .servicios_contenido2 {
    width: 100%; }
  .servicios_contenido2_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center;
    margin-top: 30px; }
  .servicios_contenido1_texto2 {
    color: #71ff33;
    text-align: justify; }
  .servicios_contenido2_lista {
    color: #71ff33;
    text-align: left; }
  .lista_contenido {
    list-style: circle; }
  .servicios_contenido3 {
    width: 100%; }
  .servicios_contenido3_subtitulo {
    color: #71ff33;
    text-align: center; }
  .servicios_contenido3_imagen {
    width: 500px;
    text-align: center; }
  .servicios_contenido3_texto {
    color: #71ff33;
    text-align: justify;
    font-family: georgia;
    padding-top: 20px; }
  .servicios_contenido4 {
    width: 100%; }
  .servicios_contenido4_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center; }
  .lista_contenido4 {
    color: #71ff33;
    font-family: georgia;
    text-align: left; }
  .servicio_contenido5 {
    width: 100%; }
  .servicios_contenido5_subtitulo {
    color: #71ff33;
    text-align: center;
    font-family: georgia; }
  .servicios_contenido5_texto {
    color: #71ff33;
    font-family: georgia;
    text-align: justify; }
  .servicios_contenido6 {
    width: 100%; }
  .servicios_contenido6_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center; }
  .servicios_contenido6_texto {
    color: #71ff33;
    font-family: georgia;
    text-align: justify; }
  .texto_servicios_footer {
    color: #fff;
    font-family: georgia;
    text-align: center; }
  .a_servicios {
    color: violet; }
  .li_logo_footer {
    list-style: none; }
  .logo_footer {
    gap: 10px; } }

@media only screen and (min-width: 1024px) {
  .nav {
    display: block;
    background-image: url(../Multimedia/portada.webp);
    background-size: cover; }
  .items {
    display: flex;
    flex-direction: row; }
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px; }
  .servicios_section {
    width: 100%;
    background-image: url(../Multimedia/fondoindex2.jpg);
    background-size: cover;
    text-align: justify;
    justify-content: center; }
  .servicios_contenedor {
    align-items: center;
    text-align: center; }
  .servicios_contenedor_contenido1 {
    width: 100%;
    align-items: center;
    text-align: center; }
  .servicios_contenido1_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center;
    align-items: center; }
  .servicios_contenido1_texto {
    margin-top: 20px;
    color: #71ff33;
    font-family: georgia;
    text-align: justify; }
  .servicios_contenido1_subtitulo2 {
    font-family: Georgia;
    align-items: center;
    text-align: center;
    color: #71ff33; }
  .servicios_contenido1_texto2 {
    color: #71ff33;
    text-align: justify;
    font-family: Georgia; }
  .servicios_contenido1_imagen {
    width: 700px;
    align-items: center;
    text-align: center; }
  .servicios_contenido2 {
    width: 100%; }
  .servicios_contenido2_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center;
    margin-top: 30px; }
  .servicios_contenido1_texto2 {
    color: #71ff33;
    text-align: justify; }
  .servicios_contenido2_lista {
    color: #71ff33;
    display: block;
    text-align: left; }
  .lista_contenido {
    list-style: circle; }
  .servicios_contenido3 {
    width: 100%; }
  .servicios_contenido3_subtitulo {
    color: #71ff33;
    text-align: center;
    margin-bottom: 20px; }
  .servicios_contenido3_imagen {
    width: 600px; }
  .servicios_contenido3_texto {
    color: #71ff33;
    text-align: justify;
    font-family: georgia;
    padding-top: 20px; }
  .servicios_contenido4 {
    width: 100%; }
  .servicios_contenido4_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center; }
  .lista_contenido4 {
    color: #71ff33;
    font-family: georgia;
    display: block;
    text-align: left; }
  .servicio_contenido5 {
    width: 100%; }
  .servicios_contenido5_subtitulo {
    color: #71ff33;
    text-align: center;
    font-family: georgia; }
  .servicios_contenido5_texto {
    color: #71ff33;
    font-family: georgia;
    text-align: justify; }
  .servicios_contenido6 {
    width: 100%; }
  .servicios_contenido6_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center; }
  .servicios_contenido6_texto {
    color: #71ff33;
    font-family: georgia;
    text-align: justify; }
  .texto_servicios_footer {
    color: #fff;
    font-family: georgia;
    text-align: center; }
  .a_servicios {
    color: violet; }
  footer {
    width: 100%; }
  .li_logo_footer {
    list-style: none; }
  .logo_footer {
    gap: 10px;
    display: flex;
    flex-direction: column; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.items {
  display: flex;
  gap: 20px;
  flex-direction: row; }

li {
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: blue; }

footer {
  background-image: linear-gradient(to top violet, black);
  background-size: cover; }

.titulo_index {
  color: #71ff33; }

.imagenlogo {
  display: flex;
  width: 100px;
  height: 100px; }

section {
  background-image: url(../Multimedia/fondoindex2.jpg); }

@media only screen and (max-width: 468px) {
  header {
    background-image: url(../Multimedia/fondonav.jpg);
    height: 75px; }
  nav {
    width: 100%;
    display: block;
    height: 75px; }
  .section {
    text-align: center;
    width: 100%; }
  .contenedor {
    margin-top: 75px;
    text-align: center;
    padding: 5px; }
  .contenedor_titulo {
    display: block;
    text-align: center;
    align-items: center;
    width: 100%; }
  .titulo_index {
    font-size: 30px;
    text-align: center;
    color: #71ff33; }
  .contenedor_subtitulo {
    display: block;
    text-align: center; }
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px; }
  .section {
    display: block;
    width: 100%;
    background-image: url(../Multimedia/fondoindex2.jpg); }
  .contenedor_relevamiento {
    text-align: center;
    display: block; }
  .relevamiento_index {
    font-size: 25px;
    color: #71ff33; }
  .contenedor_fotoderelevamiento {
    margin-top: 10px; }
  .texto_relevamiento {
    color: #71ff33; }
  .contenedor_replanteo {
    align-items: center;
    text-align: center;
    display: block; }
  .contenedor_subtitulo_replanteo {
    font-size: 5px;
    color: #71ff33; }
  .contenedor_textorelevamientourbano {
    color: #71ff33; }
  .contenedor_inspeccion {
    text-align: center;
    display: block; }
  .contenedor_subtitulo_inspeccion {
    color: #71ff33;
    display: block; }
  .contenedor_textoinspeccion {
    color: #71ff33;
    display: block; }
  .contenedor_foto_inspeccion {
    width: 400px; }
  .index_video {
    text-align: center;
    display: block; }
  .video_index {
    width: 400px; }
  .contenedortexto_video {
    color: #71ff33;
    display: inline-block; }
  .titulo_footer {
    color: #fff; }
  .texto_footer {
    color: #fff; }
  .contenedor_fotoderelevamiento {
    width: 400px; }
  .contenedor_foto_replanteo {
    width: 400px; }
  .subtitulo_index {
    font-size: 25px;
    color: #71ff33; }
  .contenedor_subtitulo_replanteo {
    font-size: 25px;
    color: #71ff33; }
  .contenedor_foto {
    width: 400px; }
  .contendedor_subtitulo_drone {
    color: #71ff33; }
  footer {
    width: 100%;
    background-image: radial-gradient(violet, black);
    background-size: 100%;
    text-align: center; }
  .logo1 {
    width: 40px; } }

@media only screen and (min-width: 469px) and (max-width: 1023px) {
  header {
    background-image: url(../Multimedia//fondonav.jpg);
    height: auto;
    height: 100px;
    display: block; }
  body {
    display: block;
    width: 100%; }
  .navbar {
    display: block;
    width: 80%;
    align-items: center;
    margin-top: 20px;
    margin-left: 90px; }
  .divnavbar {
    display: inline-block;
    text-align: center; }
  .div_contenido {
    display: flex;
    flex-direction: column;
    gap: 20px; }
  .contenedor_foto_inspeccion {
    width: 300px; }
  .contenedor_fotoderelevamiento {
    width: 400px; }
  .video_index {
    width: 400px; }
  .contenedorgeneral1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px; }
  .contenedorgeneral2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px; }
  .imagenlogo {
    display: inline block; }
  .section {
    gap: 10px;
    padding: 10px; }
  .contenedor {
    display: flex; }
  .contenedor_index {
    padding: 30px; }
  .titulo_index {
    font-family: georia;
    font-size: 30px;
    text-align: center;
    margin-top: 20px; }
  .contenedor_titulo {
    width: min-content;
    width: 40%; }
  .subtitulo_index {
    font-size: 20px;
    font-family: georgia;
    display: block;
    margin-top: 25px;
    color: #71ff33;
    font-size: 20px;
    text-align: end;
    width: 75%; }
  .contenedor_relevamiento {
    display: block;
    max-width: min-content;
    text-align: center; }
  .contenedor_replanteo {
    display: block;
    max-width: min-content;
    text-align: center; }
  .relevamiento_index {
    font-size: 25px;
    color: #71ff33; }
  .contenedor_fotoderelevamiento {
    width: 300px; }
  .contenedor_replanteo {
    display: block;
    max-width: min-content;
    text-align: center; }
  .contenedor_foto_replanteo {
    width: 300px; }
  .contenedor_subtitulo_replanteo {
    color: #71ff33; }
  .contenedor_textorelevamientourbano {
    color: #71ff33; }
  .texto_relevamiento {
    color: #71ff33; }
  .contenedor_inspeccion {
    display: block;
    width: min-content;
    text-align: center; }
  .contenedor_subtitulo_inspeccion {
    color: #71ff33; }
  .contenedor_textoinspeccion {
    color: #71ff33; }
  .contenedor_foto {
    width: 300px; }
  .contenedor_subtitulo_inspeccion {
    font-size: 25px;
    font-family: Georgia; }
  .contenedor_foto_inspeccion {
    width: 300px; }
  .index_video {
    text-align: center;
    width: min-content; }
  .contendedor_subtitulo_drone {
    color: #71ff33; }
  .video_index {
    width: 300px; }
  .contenedortexto_video {
    font-family: georgia;
    font: 20px; }
  .contenedortexto_video {
    color: #71ff33; }
  .footer {
    display: flex;
    display: block; }
  .titulo_footer {
    color: #fff; }
  .texto_footer {
    color: #fff; }
  footer {
    background-image: radial-gradient(violet, black);
    background-size: 100%;
    background-size: cover;
    text-align: center; }
  .logo1 {
    width: 50px; } }

@media only screen and (min-width: 1024px) {
  header {
    background-image: url(../Multimedia//fondonav.jpg);
    height: auto;
    height: 100px;
    display: block; }
  body {
    display: block;
    width: 100%; }
  .navbar {
    color: #fff;
    display: block;
    width: 80%;
    align-items: center;
    margin-top: 20px;
    margin-left: 90px; }
  .divnavbar {
    display: inline-block;
    text-align: center; }
  .div_contenido {
    display: flex;
    flex-direction: column;
    gap: 20px; }
  .contenedor_foto_inspeccion {
    width: 500px; }
  .contenedor_fotoderelevamiento {
    width: 400px; }
  .video_index {
    width: 400px; }
  .contenedorgeneral1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px; }
  .contenedorgeneral2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px; }
  .imagenlogo {
    display: inline block; }
  .section {
    gap: 10px;
    padding: 10px; }
  .contenedor {
    display: flex; }
  .contenedor_index {
    padding: 30px; }
  .titulo_index {
    font-family: georia;
    font-size: 40px;
    text-align: center;
    margin-top: 20px; }
  .contenedor_titulo {
    width: min-content;
    width: 40%; }
  .subtitulo_index {
    font-family: georgia;
    display: block;
    margin-top: 25px;
    color: #71ff33;
    font-size: 30px;
    text-align: end;
    width: 75%; }
  .contenedor_relevamiento {
    display: block;
    max-width: min-content;
    text-align: center; }
  .contenedor_replanteo {
    display: block;
    max-width: min-content;
    text-align: center; }
  .relevamiento_index {
    font-size: 25px;
    color: #71ff33; }
  .contenedor_fotoderelevamiento {
    width: 500px; }
  .contenedor_replanteo {
    display: block;
    max-width: min-content;
    text-align: center; }
  .contenedor_foto_replanteo {
    width: 500px; }
  .contenedor_subtitulo_replanteo {
    color: #71ff33; }
  .contenedor_textorelevamientourbano {
    color: #71ff33; }
  .texto_relevamiento {
    color: #71ff33; }
  .contenedor_inspeccion {
    display: block;
    width: min-content;
    text-align: center; }
  .contenedor_subtitulo_inspeccion {
    color: #71ff33; }
  .contenedor_textoinspeccion {
    color: #71ff33; }
  .contenedor_foto {
    width: 500px; }
  .contenedor_subtitulo_inspeccion {
    font-size: 25px;
    font-family: Georgia; }
  .contenedor_foto_inspeccion {
    width: 500px; }
  .index_video {
    text-align: center;
    width: min-content; }
  .contendedor_subtitulo_drone {
    color: #71ff33; }
  .video_index {
    width: 500px; }
  .contenedortexto_video {
    font-family: georgia;
    font: 20px; }
  .contenedortexto_video {
    color: #71ff33; }
  .footer {
    display: flex;
    display: block;
    width: 100%; }
  .titulo_footer {
    color: #fff;
    display: inline-block; }
  .texto_footer {
    color: #fff;
    display: inline-block; }
  footer {
    background-image: radial-gradient(violet, black);
    background-size: 100%;
    background-size: cover;
    text-align: center; }
  .logo1 {
    width: 50px; } }

@media only screen and (max-width: 468px) {
  .contacto_section {
    width: 100%;
    padding: 40px; }
  .body_div_titulo {
    width: 100%;
    text-align: center;
    color: #71ff33;
    font-family: georgia; }
  .contenedordeformulario {
    display: block;
    text-align: center;
    padding: 35px; }
  .contenidodeformulario {
    padding: 20px; }
  label {
    color: #71ff33;
    font-family: georgia; }
  .boton {
    text-align: center;
    margin-top: 20px; }
  .text_footer {
    color: #fff; } }

@media only screen and (min-width: 468px) and (max-width: 1023px) {
  .nav {
    display: block;
    background-image: url(../Multimedia/portada.webp);
    background-size: cover; }
  .items {
    display: flex;
    flex-direction: row; }
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px; }
  section {
    text-align: center; }
  .contacto_section {
    padding: 10px; }
  .body_div_titulo {
    width: 100%;
    text-align: center;
    color: #71ff33;
    font-family: georgia; }
  .contenedordeformulario {
    text-align: center;
    align-items: center;
    width: min-content;
    padding: 20px; }
  .imput_contacto {
    text-align: center; }
  .contenidodeformulario {
    padding: 20px;
    text-align: center; }
  label {
    color: #71ff33;
    font-family: georgia; }
  .titulo {
    color: #fff; }
  .boton {
    text-align: center;
    margin-top: 20px; }
  .text_footer {
    color: #fff; } }

@media only screen and (min-width: 1024px) {
  .nav {
    display: block;
    background-image: url(../Multimedia/portada.webp);
    background-size: cover; }
  .items {
    display: flex;
    flex-direction: row; }
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px; }
  section {
    text-align: center; }
  .contacto_section {
    padding: 10px;
    text-align: center; }
  .body_div_titulo {
    width: 100%;
    text-align: center;
    color: #71ff33;
    font-family: georgia; }
  .contenedordeformulario {
    text-align: center;
    align-items: center;
    padding: 20px; }
  .imput_contacto {
    text-align: center; }
  .contenidodeformulario {
    padding: 20px;
    text-align: center; }
  label {
    color: #71ff33;
    font-family: georgia; }
  .titulo {
    color: #fff; }
  .boton {
    text-align: center;
    margin-top: 20px; }
  .text_footer {
    color: #fff; } }

@media only screen and (max-width: 468px) {
  .nav {
    display: flex;
    flex-direction: row;
    background-image: url(../Multimedia/portada.webp);
    background-size: cover; }
  .quienes_somos_contenedor {
    background-image: url(../Multimedia/fondoindex2.jpg);
    background-size: cover;
    display: flex;
    text-align: justify;
    flex-direction: column;
    width: 100%; }
  .quienessomos_section_subtitulo {
    color: #71ff33;
    font-family: georgia;
    font-size: 25px; }
  .quienessomos_section_subtitulo_imagen {
    width: 350px; }
  .quienessomos_section_contenido {
    width: 400px;
    text-align: center; }
  .quienessomos_section_subtitulo_parrafo {
    color: #71ff33; }
  .quienessomos_section_contenido2 {
    width: 100px; }
  .contenido2_subtitulo {
    color: #71ff33;
    display: block; }
  .quienessomos_contenido2_texto {
    color: #71ff33;
    text-align: justify; }
  .quienessomos_contenido3_subtitulo {
    color: #71ff33; }
  .quienessomos_contendio3_texto {
    color: #71ff33;
    text-align: justify; }
  .quienessomos_contenido3_imagen {
    width: 400px; }
  .quienessomos_section_contenido4 {
    width: 400px;
    text-align: center; }
  .quienessomos_contenido_texto {
    width: auto; }
  .quienessomos_contenido4_subtitulo {
    color: #71ff33; }
  .quienessomos_contenido_texto {
    color: #71ff33; }
  .subtitulo_quienessomos {
    color: #fff; }
  .quienessomos_contenido4_video {
    width: 500px; }
  footer {
    padding: 20px; }
  .titulo {
    color: #fff; } }

@media only screen and (min-width: 468px) and (max-width: 1023px) {
  .nav {
    display: block; }
  .items {
    display: flex;
    flex-direction: row; }
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px; }
  .quienes_somos_contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    width: 100%;
    background-image: url(../Multimedia/fondoindex2.jpg);
    background-size: cover; }
  .quienessomos_section_contenido {
    width: 100%; }
  .quienessomos_section_subtitulo {
    color: #71ff33;
    font-family: georgia;
    font-size: 25px; }
  .quienessomos_section_subtitulo_imagen {
    width: 400px; }
  .quienessomos_section_subtitulo_imagen {
    width: 300px; }
  .quienessomos_section_subtitulo_parrafo {
    color: #71ff33; }
  .quienessomos_section_contenido2 {
    width: 500px; }
  .contenido2_subtitulo {
    color: #71ff33;
    display: block; }
  .quienessomos_contenido2_texto {
    color: #71ff33;
    text-align: justify; }
  .quienessomos_contenido3_subtitulo {
    color: #71ff33; }
  .quienessomos_contendio3_texto {
    color: #71ff33;
    text-align: justify; }
  .quienessomos_section_contenido4 {
    width: 100%;
    text-align: center; }
  .quienessomos_contenido_texto {
    width: auto; }
  .quienessomos_contenido4_subtitulo {
    color: #71ff33; }
  .quienessomos_contenido4_video {
    width: 500px; }
  .quienessomos_contenido_texto {
    color: #71ff33; }
  .subtitulo_quienessomos {
    color: #fff; } }

@media only screen and (min-width: 1024px) {
  nav {
    background-size: cover;
    display: block;
    background-image: url(../Multimedia/portada.webp);
    background-size: cover; }
  .items {
    display: flex;
    flex-direction: row; }
  .quienes_somos_contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-image: url(../Multimedia/fondoindex2.jpg); }
  .quienessomos_section_contenido {
    display: block;
    text-align: center;
    width: 100%; }
  .quienessomos_section_subtitulo {
    color: #71ff33;
    font-size: 30px;
    font-family: georgia; }
  .quienessomos_section_subtitulo_imagen {
    width: 500px; }
  .quienessomos_section_subtitulo_parrafo {
    color: #71ff33;
    text-align: center; }
  .quienessomos_section_contenido {
    display: block;
    width: 100%; }
  .contenido2_subtitulo {
    color: #71ff33;
    text-align: center; }
  .quienessomos_contenido2_texto {
    color: #71ff33;
    text-align: justify; }
  .quienessomos_section_contenido {
    display: block; }
  .quienessomos_contenido3_subtitulo {
    color: #71ff33;
    font-family: georgia; }
  .quienessomos_contendio3_texto {
    color: #71ff33;
    font-family: georgia;
    text-align: justify; }
  .quienessomos_contenido3_imagen {
    width: 500px; }
  .quienessomos_contenido4_subtitulo {
    text-align: center;
    color: #71ff33;
    margin-top: 20px;
    font-family: georgia; }
  .quienessomos_contenido_texto {
    color: #71ff33;
    text-align: center;
    font-family: georgia; }
  .quienessomos_section_contenido4 {
    text-align: center;
    align-items: center; }
  .quienessomos_contenido4_video {
    width: 500px;
    align-items: center; }
  .subtitulo_quienessomos {
    color: #fff; }
  .titulo {
    color: #fff; }
  .footer {
    display: block; }
  .items_footer_quieessomos {
    display: flex;
    flex-direction: column; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.items {
  display: flex;
  gap: 20px;
  flex-direction: row; }

li {
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: blue; }

footer {
  background-image: linear-gradient(to top violet, black);
  background-size: cover; }

.titulo_index {
  color: #71ff33; }

.imagenlogo {
  display: flex;
  width: 100px;
  height: 100px; }

section {
  background-image: url(../Multimedia/fondoindex2.jpg); }

@media only screen and (max-width: 468px) {
  .nav {
    display: flex;
    flex-direction: row;
    background-image: url(../Multimedia/portada.webp);
    background-size: cover; }
  .items {
    display: flex;
    flex-direction: column; }
  li {
    list-style: none; }
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px; }
  .proyecto_contenedor {
    width: 100%;
    padding: 20px; }
  .proyecto_contenido {
    width: 100%; }
  .proyecto_contenido_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center; }
  .proyecto_contenido_subtitulo2 {
    font-size: 20px;
    text-align: center;
    color: #71ff33; }
  .proyecto_contenido_texto {
    font-family: georgia;
    color: #71ff33; }
  .proyeto_contenido_imagen {
    width: 400px; }
  .EpigrafeDeImagen {
    font-size: 10px;
    color: #71ff33;
    font-family: georgia; }
  footer {
    width: 100%; }
  .texto_footer_proyecto {
    color: #fff;
    text-align: center; } }

@media only screen and (min-width: 468px) and (max-width: 1023px) {
  .nav {
    display: block;
    background-image: url(../Multimedia/portada.webp);
    background-size: cover; }
  .items {
    display: flex;
    flex-direction: row; }
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px; }
  .proyecto_contenedor {
    width: 100%;
    padding: 40px; }
  .proyecto_contenido {
    width: 100%; }
  .proyecto_contenido_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center; }
  .proyecto_contenido_subtitulo2 {
    font-size: 20px;
    text-align: center;
    color: #71ff33; }
  .proyecto_contenido_texto {
    font-family: georgia;
    color: #71ff33; }
  .proyeto_contenido_imagen {
    width: 400px; }
  .EpigrafeDeImagen {
    font-size: 15px;
    color: #71ff33;
    font-family: georgia; }
  footer {
    width: 100%; }
  .texto_footer_proyecto {
    color: #fff;
    text-align: center; } }

@media only screen and (min-width: 1024px) {
  .nav {
    display: block;
    background-image: url(../Multimedia/portada.webp);
    background-size: cover; }
  .items {
    display: flex;
    flex-direction: row; }
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px; }
  .proyecto_contenedor {
    text-align: center;
    padding: 40px; }
  .proyecto_contenido {
    width: 100%; }
  .proyecto_contenido_subtitulo {
    color: #71ff33;
    font-family: georgia;
    text-align: center; }
  .proyecto_contenido_subtitulo2 {
    font-size: 20px;
    text-align: center;
    color: #71ff33; }
  .proyecto_contenido_texto {
    font-family: georgia;
    color: #71ff33;
    text-align: center; }
  .proyeto_contenido_imagen {
    width: 600px;
    align-items: center; }
  .EpigrafeDeImagen {
    font-size: 15px;
    color: #71ff33;
    font-family: georgia; }
  footer {
    width: 100%; }
  .logo_footer {
    display: flex;
    flex-direction: column; }
  .texto_footer_proyecto {
    color: #fff;
    text-align: center; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.items {
  display: flex;
  gap: 20px;
  flex-direction: row; }

li {
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: blue; }

footer {
  background-image: linear-gradient(to top violet, black);
  background-size: cover; }

.titulo_index {
  color: #71ff33; }

.imagenlogo {
  display: flex;
  width: 100px;
  height: 100px; }

section {
  background-image: url(../Multimedia/fondoindex2.jpg); }

.titulo_index {
  background-color: violet;
  text-align: center;
  font-size: 30px;
  padding: 1rem; }

.subtitulo_index {
  background-color: aqua;
  font-size: 25px; }
