* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: blue;
}

.titulo {
  color: #71ff33;
  font-size: 40px;
  margin-top: 20px;
  font-family: Georgia;
}

section .contenedor_subtitulo {
  color: black;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

footer .logo1 {
  width: 50px;
}

li {
  display: inline-block;
}
ul {
  text-align: right;
}

.quienessomos_section_subtitulo {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
}

.quienessomos_section_subtitulo_parrafo {
  margin-top: 50px;
  text-align: center;
  font-family: georgia;
  text-justify: auto;
}

.quienessomos_contenido2_subtitulo {
  margin-top: 40px;
  text-align: center;
}

.quienessomos_contenido2_subtitulo {
  font-family: georgia;
  text-justify: auto;
}

.quienessomos_contenido3_subtitulo {
  font-family: Georgia;

  text-align: center;
}

.quienessomos_contendio3_texto {
  font-family: Georgia;
  text-justify: left;
}

.quienessomos_contenido3_imagen {
  width: 500px;
}

.quienessomos_contenido4_subtitulo {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.servicios_section_titulo {
  font-family: Georgia;
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
}

.servicios_contenedor_contenido1 {
  font-family: Georgia;
  text-justify: left;
}
.servicios_contenido1_subtitulo {
  font-family: georgia;
  font-size: 20px;
}

.servicios_contenido1_texto {
  font-family: georgia;
  margin-top: 20px;
}

.servicios_contenido1_subtitulo2 {
  font-size: 20px;
  font-family: georgia;
  margin-top: 30px;
}

.servicios_contenido1_texto2 {
  font-family: georgia;
  margin-top: 20px;
}

.servicios_contenido1_imagen {
  width: 600px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.servicios_contenido2_subtitulo {
  font-size: 30px;
}

.servicios_contenido2_lista {
  margin-top: 20px;
}

.servicios_contenido3_subtitulo {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.servicios_contenido3_imagen {
  width: 400px;
}
.servicios_contenido3_texto {
  font-family: georgia;

  margin-top: 30px;
  margin-bottom: 30px;
}

.servicios_contenido4_subtitulo {
  font-size: 30px;
}

.servicios_contenido5_subtitulo {
  font-size: 30px;
}

.servicios_contenido5_texto {
  font-size: 15px;
  font-family: georgia;
  margin-top: 20px;
  margin-bottom: 20px;
}

.servicios_contenido6_subtitulo {
  font-size: 30px;
}

.servicios_contenido6_texto {
  font-family: georgia;
}

.servicios_contenido6_imagen {
  margin-top: 30px;
  margin-bottom: 50px;
}
.proyecto_contenido_subtitulo {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}

.proyecto_contenido_texto {
  font-family: georgia;
}

.proyecto_contenido_imagen {
  width: 500px;
  margin-top: 40px;
}

.EpigrafeDeImagen {
  text-align: center;
  font-family: arial;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 10px;
}

.quienessomos_section_subtitulo_imagen {
  width: 500px;
  margin-top: 30px;
}

.contenido2_subtitulo {
  margin-top: 30px;
  font-family: arial;
  font-size: 30px;
}

.quienessomos_contenido2_texto {
  margin-top: 30px;
  text-align: justify;
  font-family: Georgia;
}
.quienessomos_contenido3_subtitulo {
  margin-top: 30px;
  font-family: arial;
  font-size: 30px;
}

.quienessomos_contendio3_texto {
  margin-top: 30px;
  font-family: arial;
  text-align: justify;
  margin-bottom: 40px;
}

.quienessomos_contenido4_subtitulo {
  font-family: Arial;
}

.quienessomos_contenido4_video {
  width: max-content;
}

.quienes_somos_contenedor {
  text-align: center;
}

nav {
  background-image: url(../Multimedia/navindex2.jpg);
  background-size: 100%;
}

footer {
  background-image: linear-gradient(to top violet, black);
  background-size: cover;
}

section {
  background-image: url(../Multimedia/fondoindex2.jpg);
  background-size: cover;
}



.imagenlogo {
  width: 100px;
}

.titulo_index {
  color: #71ff33;
}
@media only screen and (max-width: 468px) {
  .nav col-12 {
    display: block;
  }

.items {
    display: block;
}



  .imagenlogo {
    transform: rotate(30degs);
  }

  .contenedor_titulo col-3 {
    margin-top: 20px;
  }

  .titulo_index {
    font-size: 30px;
    display: block;
    text-align: center;
    color: #71ff33;
  }

  .contenedor_relevamiento col-4 {
    text-align: center;
    max-width: min-content;
  }

  .relevamiento_index {
    font-size: 25px;
    color: #71ff33;
  }
  .contenedor_fotoderelevamiento {
    margin-top: 10px;
  }

  .subtitulo_index {
    transform: skew(5deg);
    animation-name: aparecer;
    animation-delay: 1s;
  }

  .texto_relevamiento {
    color: #71ff33;
  }
  .contenedor_replanteo col-4 {
    text-align: center;
    max-width: min-content;
  }

  .contenedor_subtitulo_replanteo {
    font-size: 5px;
    color: #71ff33;
  }

  .contenedor_textorelevamientourbano {
    color: #71ff33;
  }

  .contenedor_inspeccion col-6 {
    text-align: center;
    max-width: min-content;
    margin-bottom: 40px;
  }
  .contenedor_subtitulo_inspeccion {
    color: #71ff33;
  }
  .contenedor_textoinspeccion {
    color: #71ff33;
  }

  .index_video col-6{
    text-align: center;
    width: 200px;
    max-width: min-content;
  }

  .video_index {
    width: 170px;
  }

  .contenedortexto_video {
    color: #71ff33;
  }

  .titulo_footer {
    color: #fff;
  }
  .texto_footer {
    color: #fff;
  }

  .contenedor_fotoderelevamiento {
    width: 150px;
  }

  .contenedor_foto_replanteo {
    width: 150px;
  }

  .subtitulo_index {
    font-size: 25px;
    text-align: center;
    color: #71ff33;
  }

  .contenedor_subtitulo_replanteo {
    font-size: 25px;
    color: #71ff33;
  }

  .contenedor_foto {
    width: 150px;
  }
  .contendedor_subtitulo_drone {
    color: #71ff33;
  }

  footer {
    background-image: radial-gradient(violet, black);
    background-size: 1000%;
  }
}


@media only screen and (min-width: 468px) and (max-width: 1023px) {
  .row section {
    gap: 40px;
  }

  header {
    background-image: url(../Multimedia/index.jpg);
    background-size: cover;
  }

  .contenedor_index {
    padding: 30px;
  }

  .titulo_index {
    font-family: georia;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }

  .contenedor_titulo {
    width: min-content;
  }

  .subtitulo_index {
    font-size: 20px;
    font-family: georgia;
    display: block;
    text-align: end;
    margin-top: 25px;
    color: #71ff33;
  }

  .contenedor_relevamiento {
    display: block;
    max-width: min-content;
    text-align: center;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .contenedor_fotoderelevamiento {
    transform: skew(5deg, 2deg);
  }

  @keyframes aparecer {
    0% {
      opacity: 100%;
    }
    25% {
      opacity: 75%;
    }
    50% {
      opacity: 50%;
    }
    75% {
      opacity: 25%;
    }
    100% {
      opacity: 0%;
    }
  }

  .contenedor_replanteo {
    display: block;
    max-width: min-content;
    text-align: center;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .contenedor_foto_replanteo {
    transform: skew(5deg, 2deg);
  }

  @keyframes aparecer {
    0% {
      opacity: 100%;
    }
    25% {
      opacity: 75%;
    }
    50% {
      opacity: 50%;
    }
    75% {
      opacity: 25%;
    }
    100% {
      opacity: 0%;
    }
  }

  .relevamiento_index {
    font-size: 25px;
    color: #71ff33;
  }

  .contenedor_fotoderelevamiento {
    width: 300px;
  }

  .contenedor_replanteo {
    display: block;
    max-width: min-content;
    text-align: center;
  }
  .contenedor_foto_replanteo {
    width: 300px;
  }
  .contenedor_subtitulo_replanteo {
    color: #71ff33;
  }

  .contenedor_textorelevamientourbano {
    color: #71ff33;
  }
  .texto_relevamiento {
    color: #71ff33;
  }

  .contenedor_inspeccion {
    display: block;
    width: min-content;
    text-align: center;
  }

  .contenedor_subtitulo_inspeccion {
    color: #71ff33;
  }
  .contenedor_textoinspeccion {
    color: #71ff33;
  }
  .contenedor_foto {
    width: 300px;
  }
  .contenedor_subtitulo_inspeccion {
    font-size: 25px;
    font-family: Georgia;
  }

  .index_video {
    text-align: center;
    width: min-content;
  }
  .contendedor_subtitulo_drone {
    color: #71ff33;
  }
  .video_index {
    width: 300px;
  }
  .contenedortexto_video {
    font-family: georgia;
    font: 20px;
  }
  .contenedortexto_video {
    color: #71ff33;
  }

  .footer {
    display: flex;
    display: block;
  }
  .titulo_footer {
    color: #fff;
  }
  .texto_footer {
    color: #fff;
  }
}

@media only screen and (min-width: 1024px) {
  .titulo_index {
    font-family: georia;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    color: #71ff33;
  }
  .texto_relevamiento {
    color: #71ff33;
  }

  .contenedor_titulo {
    width: min-content;
  }

  .subtitulo_index {
    color: #71ff33;
    font-size: 25px;
    font-family: georgia;
    display: block;
    text-align: end;
    margin-top: 20px;
    margin-right: 20px;
  }

  .contenedor_relevamiento {
    display: block;
    max-width: min-content;
    text-align: center;
  }
  .relevamiento_index {
    font-size: 25px;
    color: #71ff33;
  }

  .contenedor_fotoderelevamiento {
    width: 400px;
  }

  .contenedor_replanteo {
    display: block;
    max-width: min-content;
    text-align: center;
  }
  .contenedor_subtitulo_replanteo {
    color: #71ff33;
  }
  .contenedor_foto_replanteo {
    width: 400px;
  }
  .contenedor_textorelevamientourbano {
    color: #71ff33;
  }

  .contenedor_inspeccion {
    display: block;
    width: min-content;
    text-align: center;
    margin-left: 50px;
  }
  .contenedor_subtitulo_inspeccion {
    color: #71ff33;
  }
  .contenedor_foto {
    width: 400px;
  }
  .contenedor_subtitulo_inspeccion {
    font-size: 25px;
    font-family: Georgia;
  }

  .contenedor_textoinspeccion {
    color: #71ff33;
  }

  .index_video {
    text-align: center;
    width: min-content;
  }
  .video_index {
    width: 400px;
  }
  .contenedortexto_video {
    font-family: georgia;
    font: 20px;
  }
  .contendedor_subtitulo_drone {
    color: #71ff33;
  }
  .contenedortexto_video {
    color: #71ff33;
  }

  .footer {
    display: flex;
    display: block;
  }
  .titulo_footer {
    color: #fff;
  }
  .texto_footer {
    color: #fff;
  }
}

@media only screen and (max-width: 468px) {
  .imagenlogo {
    width: 100px;
  }

  ul .items {
    display: block;
    display: flex;
  }
  .contacto_header {
    background-image: url(../Multimedia/index.jpg);
    background-size: cover;
  }
  .body_contacto {
    display: flex;
    flex-direction: column;
  }

  .contacto_section {
    display: flex;
    text-align: center;
    padding: 10px;
    flex-direction: column;
  }

  .section_contacto {
    background-image: url(../Multimedia/logo.png.jpg);
    background-size: cover;
  }

  .contenedor_formulario {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 10px;
    gap: 30px;
  }

  .body_div_titulo {
    text-align: center;
    max-width: max-content;
  }
  .body_titulo {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  .contacto_div_footer {
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 20px;
  }

  .titulo {
    color: #fff;
    font-size: 20px;
  }
  .contacto_ul {
    display: flex;
    flex-direction: column;
  }

  .contacto_footer {
    display: flex;
    width: 100%;
  }
  .section_contacto {
    width: 100%;
  }
  .body_contacto {
    width: 100%;
  }
  .text_footer {
    color: #fff;
  }

  .ontacto_lista {
    display: flex;
    flex-direction: column;
  }

  .contacto_footer {
    background-image: url(../Multimedia/index.jpg);
  }
}

@media only screen and (min-width: 468px) and (max-width: 1023px) {
  .imagenlogo {
    width: 100px;
  }

  ul .items {
    display: block;
    display: flex;
  }
  .contacto_header {
    background-image: url(../Multimedia/index.jpg);
    background-size: cover;
  }

  .body_contacto {
    display: flex;
    flex-direction: column;
  }

  .body_titulo {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
  }

  .contenedor_formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: right;
    padding: 10px;
    gap: 30px;
  }
  
  .atributo {
    font-size: 25px;
  }

  .contacto_section {
    display: flex;
    text-align: center;
    padding: 10px;
    flex-direction: column;
  }

  .section_contacto {
    background-image: url(../Multimedia/logo.png.jpg);
    background-size: cover;
    width: max-content;
  }

  .body_div_titulo {
    text-align: center;
    max-width: max-content;
  }

  .contacto_div_footer {
    display: flex;
    gap: 30px;
    padding: 20px;
  }

  .titulo {
    color: #fff;
    font-size: 20px;
  }
  .contacto_ul {
    display: flex;
    flex-direction: column;
  }

  .contacto_footer {
    display: flex;
    width: 100%;
  }
  .section_contacto {
    width: 100%;
  }
  .body_contacto {
    width: 100%;
  }
  .text_footer {
    color: #fff;
  }

  .ontacto_lista {
    display: flex;
    flex-direction: column;
  }

  .contacto_footer {
    background-image: url(../Multimedia/index.jpg);
  }
}
