@media only screen and (max-width: 468px) {
    header {
      background-image: url(../Multimedia/fondonav.jpg);
      height: 75px;
    }
  
    nav {
      width: 100%;
      display: block;
      height: 75px;
    }
  
    .section {
      text-align: center;
      width: 100%;
    }
    .contenedor {
      margin-top: 75px;
      text-align: center;
      padding: 5px;
    }
  
    .contenedor_titulo {
      display: block;
      text-align: center;
      align-items: center;
      width: 100%;
    }
  
    .titulo_index {
      font-size: 30px;
      text-align: center;
      color: #71ff33;
    }
  
    .contenedor_subtitulo {
      display: block;
      text-align: center;
    }
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
    .section {
      display: block;
      width: 100%;
      background-image: url(../Multimedia/fondoindex2.jpg);
    }
  
    .contenedor_relevamiento {
      text-align: center;
      display: block;
    }
    .relevamiento_index {
      font-size: 25px;
      color: #71ff33;
    }
    .contenedor_fotoderelevamiento {
      margin-top: 10px;
    }
  
    .texto_relevamiento {
      color: #71ff33;
    }
    .contenedor_replanteo {
      align-items: center;
      text-align: center;
      display: block;
    }
    .contenedor_subtitulo_replanteo {
      font-size: 5px;
      color: #71ff33;
    }
    .contenedor_textorelevamientourbano {
      color: #71ff33;
    }
    .contenedor_inspeccion {
      text-align: center;
      display: block;
    }
    .contenedor_subtitulo_inspeccion {
      color: #71ff33;
      display: block;
    }
    .contenedor_textoinspeccion {
      color: #71ff33;
      display: block;
    }
    .contenedor_foto_inspeccion {
      width: 400px;
    }
    .index_video {
      text-align: center;
      display: block;
    }
    .video_index {
      width: 400px;
    }
    .contenedortexto_video {
      color: #71ff33;
      display: inline-block;
    }
    .titulo_footer {
      color: #fff;
    }
    .texto_footer {
      color: #fff;
    }
    .contenedor_fotoderelevamiento {
      width: 400px;
    }
    .contenedor_foto_replanteo {
      width: 400px;
    }
  
    .subtitulo_index {
      font-size: 25px;
      color: #71ff33;
    }
    .contenedor_subtitulo_replanteo {
      font-size: 25px;
      color: #71ff33;
    }
    .contenedor_foto {
      width: 400px;
    }
    .contendedor_subtitulo_drone {
      color: #71ff33;
    }
    footer {
      width: 100%;
      background-image: radial-gradient(violet, black);
      background-size: 100%;
      text-align: center;
    }
    .logo1 {
      width: 40px;
    }
  }
  
  @media only screen and (min-width: 469px) and (max-width: 1023px) {
    header {
      background-image: url(../Multimedia//fondonav.jpg);
      height: auto;
      height: 100px;
      display: block;
    }
  
    body {
      display: block;
      width: 100%;
    }
    .navbar {
      display: block;
      width: 80%;
      align-items: center;
      margin-top: 20px;
      margin-left: 90px;
    }
  
    .divnavbar {
      display: inline-block;
      text-align: center;
    }
  
    .div_contenido {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .contenedor_foto_inspeccion{
      width: 300px;
    }
    .contenedor_fotoderelevamiento{
      width: 400px;
    }
  
    .video_index{
      width: 400px;
    }
  
    .contenedorgeneral1{ 
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
      
      
    }
  
    .contenedorgeneral2{
      display: flex;
      flex-direction: row-reverse;
  
      gap: 40px;
    }
  
    
  
  
    .imagenlogo {
      display: inline block;
    }
    .section {
      gap: 10px;
      padding: 10px;
    }
    .contenedor {
      display: flex;
    }
  
    .contenedor_index {
      padding: 30px;
    }
    .titulo_index {
      font-family: georia;
      font-size: 30px;
      text-align: center;
      margin-top: 20px;
    }
    .contenedor_titulo {
      width: min-content;
      width: 40%;
    }
    .subtitulo_index {
      font-size: 20px;
      font-family: georgia;
      display: block;
      margin-top: 25px;
      color: #71ff33;
      font-size: 20px;
      text-align: end;
      width: 75%;
    }
    .contenedor_relevamiento {
      display: block;
      max-width: min-content;
      text-align: center;
    }
    .contenedor_replanteo {
      display: block;
      max-width: min-content;
      text-align: center;
    }
    .relevamiento_index {
      font-size: 25px;
      color: #71ff33;
    }
    .contenedor_fotoderelevamiento {
      width: 300px;
    }
    .contenedor_replanteo {
      display: block;
      max-width: min-content;
      text-align: center;
    }
    .contenedor_foto_replanteo {
      width: 300px;
    }
    .contenedor_subtitulo_replanteo {
      color: #71ff33;
    }
    .contenedor_textorelevamientourbano {
      color: #71ff33;
    }
    .texto_relevamiento {
      color: #71ff33;
    }
    .contenedor_inspeccion {
      display: block;
      width: min-content;
      text-align: center;
    }
    .contenedor_subtitulo_inspeccion {
      color: #71ff33;
    }
    .contenedor_textoinspeccion {
      color: #71ff33;
    }
    .contenedor_foto {
      width: 300px;
    }
    .contenedor_subtitulo_inspeccion {
      font-size: 25px;
      font-family: Georgia;
    }
    .contenedor_foto_inspeccion {
      width: 300px;
    }
    .index_video {
      text-align: center;
      width: min-content;
    }
    .contendedor_subtitulo_drone {
      color: #71ff33;
    }
    .video_index {
      width: 300px;
    }
    .contenedortexto_video {
      font-family: georgia;
      font: 20px;
    }
    .contenedortexto_video {
      color: #71ff33;
    }
    .footer {
      display: flex;
      display: block;
    }
    .titulo_footer {
      color: #fff;
    }
    .texto_footer {
      color: #fff;
    }
    footer {
      background-image: radial-gradient(violet, black);
      background-size: 100%;
      background-size: cover;
      text-align: center;
    }
    .logo1 {
      width: 50px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    header {
      background-image: url(../Multimedia//fondonav.jpg);
      height: auto;
      height: 100px;
      display: block;
    }
  
    body {
      display: block;
      width: 100%;
    }
    .navbar {
      color: #fff;
      display: block;
      width: 80%;
      align-items: center;
      margin-top: 20px;
      margin-left: 90px;
    }
  
    .divnavbar {
      display: inline-block;
      text-align: center;
    }
  
    .div_contenido {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .contenedor_foto_inspeccion{
      width: 500px;
    }
    .contenedor_fotoderelevamiento{
      width: 400px;
    }
  
    .video_index{
      width: 400px;
    }
  
    .contenedorgeneral1{ 
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
      
      
    }
  
    .contenedorgeneral2{
      display: flex;
      flex-direction: row-reverse;
  
      gap: 40px;
    }
  
    .imagenlogo {
      display: inline block;
    }
    .section {
      gap: 10px;
      padding: 10px;
    }
    .contenedor {
      display: flex;
    }
  
    .contenedor_index {
      padding: 30px;
    }
    .titulo_index {
      font-family: georia;
      font-size: 40px;
      text-align: center;
      margin-top: 20px;
    }
    .contenedor_titulo {
      width: min-content;
      width: 40%;
    }
    .subtitulo_index {
      
      font-family: georgia;
      display: block;
      margin-top: 25px;
      color: #71ff33;
      font-size: 30px;
      text-align: end;
      width: 75%;
    }
    .contenedor_relevamiento {
      display: block;
      max-width: min-content;
      text-align: center;
    }
    .contenedor_replanteo {
      display: block;
      max-width: min-content;
      text-align: center;
    }
    .relevamiento_index {
      font-size: 25px;
      color: #71ff33;
    }
    .contenedor_fotoderelevamiento {
      width: 500px;
    }
    .contenedor_replanteo {
      display: block;
      max-width: min-content;
      text-align: center;
    }
    .contenedor_foto_replanteo {
      width: 500px;
    }
    .contenedor_subtitulo_replanteo {
      color: #71ff33;
    }
    .contenedor_textorelevamientourbano {
      color: #71ff33;
    }
    .texto_relevamiento {
      color: #71ff33;
    }
    .contenedor_inspeccion {
      display: block;
      width: min-content;
      text-align: center;
    }
    .contenedor_subtitulo_inspeccion {
      color: #71ff33;
    }
    .contenedor_textoinspeccion {
      color: #71ff33;
    }
    .contenedor_foto {
      width: 500px;
    }
    .contenedor_subtitulo_inspeccion {
      font-size: 25px;
      font-family: Georgia;
    }
    .contenedor_foto_inspeccion {
      width: 500px;
    }
    .index_video {
      text-align: center;
      width: min-content;
    }
    .contendedor_subtitulo_drone {
      color: #71ff33;
    }
    .video_index {
      width: 500px;
    }
    .contenedortexto_video {
      font-family: georgia;
      font: 20px;
    }
    .contenedortexto_video {
      color: #71ff33;
    }
    .footer {
      display: flex;
      display: block;
      width: 100%;
    }
    .titulo_footer {
      color: #fff;
      display: inline-block;
    }
    .texto_footer {
      color: #fff;
      display: inline-block;
    }
    footer {
      background-image: radial-gradient(violet, black);
      background-size: 100%;
      background-size: cover;
      text-align: center;
    }
    .logo1 {
      width: 50px;
    }
  }
  