* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .items {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: blue;
  }
  
  footer {
    background-image: linear-gradient(to top violet, black);
    background-size: cover;
  }
  
  
  .titulo_index {
    color: #71ff33;
  }
  
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px;
  }
  
  section {
    background-image: url(../Multimedia/fondoindex2.jpg);
  }
  
  
  
  
  @media only screen and (max-width: 468px) {
    .nav {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
      
  
  .contenedor_subtitulo{
    width:max-content;
    display: block;
  }  
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
  
    .items {
      display: flex;
      flex-direction: column;
    }
  
    .contenedor_titulo{
      text-align: center;
      display: block;
      align-items: center;
    }
  
  header { display: block;
  width: 100%;
  }
  
  section {
           width: max-content
  }
    
  
    .titulo_index {
      font-size: 30px;
      
      text-align: center;
      color: #71ff33;
      text-align: center;
    }
  
    .subtitulo_index {
      animation-name: aparecer;
      animation-delay: 5s;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  
    .contenedor_relevamiento {
      text-align: center;
      max-width: min-content;
      display: block;
    }
  
    .relevamiento_index {
      font-size: 25px;
      color: #71ff33;
    }
    .contenedor_fotoderelevamiento {
      margin-top: 10px;
    }
  
    .subtitulo_index {
      animation-name: aparecer;
      animation-delay: 1s;
    }
  
    @keyframes aparecer {
      0% {
        opacity: 100%;
      }
      25% {
        opacity: 75%;
      }
      50% {
        opacity: 50%;
      }
      75% {
        opacity: 25%;
      }
      100% {
        opacity: 0%;
      }
    }
  
    .texto_relevamiento {
      color: #71ff33;
    }
    .contenedor_replanteo {
      text-align: center;
      max-width: min-content;
      display: block;
    }
  
    .contenedor_subtitulo_replanteo {
      font-size: 5px;
      color: #71ff33;
    }
  
    .contenedor_textorelevamientourbano {
      color: #71ff33;
    }
  
  
  
    .contenedor_inspeccion {
      text-align: center;
      max-width: min-content;
      display: block;
    }
    .contenedor_subtitulo_inspeccion {
      color: #71ff33;
      display: block;
    }
    .contenedor_textoinspeccion {
      color: #71ff33;
      display: block;
    }
  
    .index_video {
      text-align: center;
      width: 200px;
      max-width: min-content;
      display: block;
    }
  
    .video_index {
      width: 300px;
    }
  
    .contenedortexto_video {
      color: #71ff33;
    }
  
    .titulo_footer {
      color: #fff;
    }
    .texto_footer {
      color: #fff;
    }
  
    .contenedor_fotoderelevamiento {
      width: 300px;
    }
  
    .contenedor_foto_replanteo {
      width: 300px;
    }
  
    .subtitulo_index {
      font-size: 25px;
  
      color: #71ff33;
    }
  
    .contenedor_subtitulo_replanteo {
      font-size: 25px;
      color: #71ff33;
    }
  
    .contenedor_foto {
      width: 300px;
    }
    .contendedor_subtitulo_drone {
     color: #71ff33;
    }
  
    footer {
      background-image: radial-gradient(violet, black);
      background-size: 100%;
      text-align: center;
    }
  
    .logo1 {
      width: 40px;
    }
  }
  
  @media only screen and (min-width: 468px) and (max-width: 1023px) {
    .nav {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    ul {
      margin-top: 30px;
    }
  
    .imagenlogo {
      display: inline block;
    }
  
    .section {
      gap: 10px;
      padding: 10px;
    }
  
    section {
      text-align: center;
    }
  
    header {
      background-image: url(../Multimedia/index.jpg);
      background-size: cover;
    }
  
    .contenedor_index {
      padding: 30px;
    }
  
    .titulo_index {
      font-family: georia;
      font-size: 30px;
      text-align: center;
      margin-top: 20px;
    }
  
    .contenedor_titulo {
      width: min-content;
      text-align: center;
    }
  
    .subtitulo_index {
      font-size: 20px;
      font-family: georgia;
      display: block;
      margin-top: 25px;
      color: #71ff33;
      font-size: 20px;
      width: max-content;
    }
  
    .contenedor_relevamiento {
      display: block;
      max-width: min-content;
      text-align: center;
    }
  
    .contenedor_replanteo {
      display: block;
      max-width: min-content;
      text-align: center;
    }
  
    .relevamiento_index {
      font-size: 25px;
      color: #71ff33;
    }
  
    .contenedor_fotoderelevamiento {
      width: 300px;
    }
  
    .contenedor_replanteo {
      display: block;
      max-width: min-content;
      text-align: center;
    }
    .contenedor_foto_replanteo {
      width: 300px;
    }
    .contenedor_subtitulo_replanteo {
      color: #71ff33;
    }
  
    .contenedor_textorelevamientourbano {
      color: #71ff33;
    }
    .texto_relevamiento {
      color: #71ff33;
    }
  
    .contenedor_inspeccion {
      display: block;
      width: min-content;
      text-align: center;
    }
  
    .contenedor_subtitulo_inspeccion {
      color: #71ff33;
    }
    .contenedor_textoinspeccion {
      color: #71ff33;
    }
    .contenedor_foto {
      width: 300px;
    }
    .contenedor_subtitulo_inspeccion {
      font-size: 25px;
      font-family: Georgia;
    }
  
    .contenedor_foto_inspeccion {
      width: 300px;
    }
  
    .index_video {
      text-align: center;
      width: min-content;
    }
    .contendedor_subtitulo_drone {
      color: #71ff33;
    }
    .video_index {
      width: 300px;
    }
    .contenedortexto_video {
      font-family: georgia;
      font: 20px;
    }
    .contenedortexto_video {
      color: #71ff33;
    }
  
    .footer {
      display: flex;
      display: block;
    }
    .titulo_footer {
      color: #fff;
    }
    .texto_footer {
      color: #fff;
    }
    footer {
      background-image: radial-gradient(violet, black);
      background-size: 100%;
      background-size: cover;
      text-align: center;
    }
  
    .logo1 {
      width: 50px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .nav {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    a {
      font-size: 20px;
    }
    ul {
      margin-top: 30px;
      display: flex;
      flex-direction: row-reverse;
    }
  
    .titulo_index {
      font-family: georia;
      font-size: 40px;
      text-align: center;
      justify-content: center;
      margin-top: 100px;
      margin-left: 100px;
      color: #71ff33;
    }
    .texto_relevamiento {
      color: #71ff33;
    }
  
    .section {
      gap: 100px;
     background-image: url(../Multimedia/fondoindex2.jpg);
    }
  
    .contenedor_titulo {
      width: min-content;
    }
  
    .contenedor_subtitulo {
      display: inline-block;
      display: flex;
      flex-direction: row-reverse;
    }
  
    .subtitulo_index {
      color: #71ff33;
      font-size: 27px;
      font-family: georgia;
      text-align: center;
      width: max-content;
      margin-right: 100px;
    }
  
    .contenedor_relevamiento {
      display: block;
      max-width: min-content;
      text-align: center;
    }
    .relevamiento_index {
      font-size: 25px;
      color: #71ff33;
    }
  
    .contenedor_fotoderelevamiento {
      width: 400px;
    }
  
    .contenedor_replanteo {
      display: block;
      max-width: min-content;
      text-align: center;
    }
    .contenedor_subtitulo_replanteo {
      color: #71ff33;
    }
    .contenedor_foto_replanteo {
      width: 400px;
    }
    .contenedor_textorelevamientourbano {
      color: #71ff33;
    }
  
    .contenedor_inspeccion {
      display: block;
      width: min-content;
      text-align: center;
    }
  
    .contenedor_foto_inspeccion {
      width: 400px;
    }
    .contenedor_subtitulo_inspeccion {
      color: #71ff33;
    }
    .contenedor_foto {
      width: 400px;
    }
    .contenedor_subtitulo_inspeccion {
      font-size: 25px;
      font-family: Georgia;
    }
  
    .contenedor_textoinspeccion {
      color: #71ff33;
    }
  
    .index_video {
      text-align: center;
      width: min-content;
    }
    .video_index {
      width: 400px;
    }
    .contenedortexto_video {
      font-family: georgia;
      font: 20px;
    }
    .contendedor_subtitulo_drone {
      color: #71ff33;
    }
    .contenedortexto_video {
      color: #71ff33;
    }
  
    footer {
      background-image: radial-gradient(violet, black);
      background-size: 100%;
      background-size: cover;
      text-align: center;
    }
  
    .logo1 {
      width: 50px;
    }
  
    .titulo_footer {
      color: #fff;
    }
    .texto_footer {
      color: #fff;
    }
  }
  
  @media only screen and (max-width: 468px) {
    .nav {
      display: flex;
      flex-direction: row;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    .items {
      display: flex;
      flex-direction: column;
    }
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
    .quienes_somos_contenedor {
      background-image: url(../Multimedia/fondoindex2.jpg);
      background-size: cover;
      display: flex;
      flex-direction: row;
      text-align: justify;
      padding: 20px;
    }
  
    .quienes_somos_contenedor {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  
    .quienessomos_section_subtitulo {
      color: #71ff33;
      font-family: georgia;
      font-size: 25px;
    }
  
    .quienessomos_section_contenido {
      width: max-content;
      width: 400px;
      text-align: center;
    }
  
    .quienessomos_section_subtitulo_imagen {
      width: 400px;
      margin-top: 20px;
    }
  
    .quienessomos_section_subtitulo_parrafo {
      color: #71ff33;
    }
  
    .quienessomos_section_contenido2 {
      width: 500px;
    }
    .contenido2_subtitulo {
      color: #71ff33;
      display: block;
    }
  
    .quienessomos_contenido2_texto {
      color: #71ff33;
      text-align: justify;
    }
  
    .quienessomos_contenido3_subtitulo {
      color: #71ff33;
    }
  
    .quienessomos_contendio3_texto {
      color: #71ff33;
      text-align: justify;
    }
    .quienessomos_contenido3_imagen {
      width: 400px;
    }
  
    .quienessomos_section_contenido4 {
      width: 400px;
      text-align: center;
    }
  
    .quienessomos_contenido_texto {
      width: auto;
    }
  
    .quienessomos_contenido4_subtitulo {
      color: #71ff33;
    }
  
    .quienessomos_contenido_texto {
      color: #71ff33;
    }
  
    .subtitulo_quienessomos {
      color: #fff;
    }
  
    footer {
      padding: 20px;
    }
    .titulo {
      color: #fff;
    }
  }
  
  @media only screen and (min-width: 468px) and (max-width: 1023px) {
    header {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
      width: 100%;
    }
    .nav {
      display: block;
      
    }
  
    .items {
      display: flex;
      flex-direction: row;
    }
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
    .quienes_somos_contenedor {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 30px;
      width: 100%;
      background-image: url(../Multimedia/fondoindex2.jpg);
      background-size: cover;
    }
  
    .quienessomos_section_contenido {
      width: 100%;
    }
  
    .quienessomos_section_subtitulo {
      color: #71ff33;
      font-family: georgia;
      font-size: 25px;
    }
  
    .quienessomos_section_subtitulo_imagen {
      width: 400px;
    }
  
    .quienessomos_section_subtitulo_imagen {
      width: 300px;
    }
  
    .quienessomos_section_subtitulo_parrafo {
      color: #71ff33;
    }
  
    .quienessomos_section_contenido2 {
      width: 500px;
    }
    .contenido2_subtitulo {
      color: #71ff33;
      display: block;
    }
  
    .quienessomos_contenido2_texto {
      color: #71ff33;
      text-align: justify;
    }
  
    .quienessomos_contenido3_subtitulo {
      color: #71ff33;
    }
  
    .quienessomos_contendio3_texto {
      color: #71ff33;
      text-align: justify;
    }
  
    .quienessomos_section_contenido4 {
      width: 100%;
      text-align: center;
    }
  
    .quienessomos_contenido_texto {
      width: auto;
    }
  
    .quienessomos_contenido4_subtitulo {
      color: #71ff33;
    }
  
    .quienessomos_contenido4_video {
      width: 500px;
    }
  
    .quienessomos_contenido_texto {
      color: #71ff33;
    }
  
    .subtitulo_quienessomos {
      color: #fff;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    nav {
      background-size: cover;
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    .items {
      display: flex;
      flex-direction: row;
    }
  
    .quienes_somos_contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px;
      background-image: url(../Multimedia/fondoindex2.jpg);
    }
  
    .quienessomos_section_contenido {
      display: block;
  
      text-align: center;
      width: 100%;
    }
  
    .quienessomos_section_subtitulo {
      color: #71ff33;
      font-size: 30px;
      font-family: georgia;
    }
  
    .quienessomos_section_subtitulo_imagen {
      width: 500px;
    }
  
    .quienessomos_section_subtitulo_parrafo {
      color: #71ff33;
      text-align: center;
    }
  
    .quienessomos_section_contenido {
      display: block;
      width: 100%;
    }
    .contenido2_subtitulo {
      color: #71ff33;
      text-align: center;
    }
    .quienessomos_contenido2_texto {
      color: #71ff33;
      text-align: justify;
    }
  
    .quienessomos_section_contenido {
      display: block;
    }
  
    .quienessomos_contenido3_subtitulo {
      color: #71ff33;
      font-family: georgia;
    }
  
    .quienessomos_contendio3_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
  
    .quienessomos_contenido3_imagen {
      width: 500px;
    }
  
    .quienessomos_contenido4_subtitulo {
      text-align: center;
      color: #71ff33;
      margin-top: 20px;
      font-family: georgia;
    }
    .quienessomos_contenido_texto {
      color: #71ff33;
      text-align: center;
      font-family: georgia;
    }
  
    .quienessomos_section_contenido4 {
      text-align: center;
      align-items: center;
    }
  
    .quienessomos_contenido4_video {
      width: 500px;
      align-items: center;
    }
  
    .subtitulo_quienessomos {
      color: #fff;
    }
    .titulo {
      color: #fff;
    }
    .footer {
      display: block;
    }
    .items_footer_quieessomos {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 468px) {
    .nav {
      display: flex;
      flex-direction: row;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    .items {
      display: flex;
      flex-direction: column;
    }
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
    .servicios_section {
      width: 100%;
      padding: 20PX;
      background-image: url(../Multimedia/fondoindex2.jpg);
    }
  
    .servicios_contenedor_contenido1 {
      width: 100%;
      display: block;
    }
    .servicios_contenido1_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      align-items: center;
    }
  
    .servicios_contenido1_texto {
      margin-top: 20px;
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
  
    .servicios_contenido1_subtitulo2 {
      font-family: Georgia;
      align-items: center;
      text-align: center;
      color: #71ff33;
    }
  
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
      font-family: Georgia;
    }
  
    .servicios_contenido1_imagen {
      width: 350px;
      align-items: center;
      text-align: center;
    }
  
    .servicios_contenido2 {
      width: 100%;
    }
  
    .servicios_contenido2_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      margin-top: 30px;
    }
  
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
    }
  
    .servicios_contenido2_lista {
      color: #71ff33;
    }
  
    li {
      list-style: circle;
    }
  
    .servicios_contenido3 {
      width: 100%;
    }
    .servicios_contenido3_subtitulo {
      color: #71ff33;
      text-align: center;
    }
  
    .servicios_contenido3_imagen {
      width: 350px;
      text-align: center;
    }
    .servicios_contenido3_texto {
      color: #71ff33;
      text-align: justify;
      font-family: georgia;
      padding-top: 20px;
    }
  
    .servicios_contenido4 {
      width: 100%;
    }
    .servicios_contenido4_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .lista_contenido4 {
      color: #71ff33;
      font-family: georiga;
    }
  
    .servicio_contenido5 {
      width: 100%;
    }
    .servicios_contenido5_subtitulo {
      color: #71ff33;
      text-align: center;
      font-family: georgia;
    }
  
    .servicios_contenido5_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
  
    .servicios_contenido6 {
      width: 100%;
    }
  
    .servicios_contenido6_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .servicios_contenido6_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
  
    .texto_servicios_footer {
      color: #fff;
      font-family: georgia;
      text-align: center;
    }
  
    .a_servicios {
      color: violet;
    }
  
    .li_logo_footer {
      list-style: none;
    }
    .logo_footer {
      gap: 10px;
    }
  }
  
  @media only screen and (min-width: 468px) and (max-width: 1023px) {
    .nav {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    .items {
      display: flex;
      flex-direction: row;
    }
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
    .servicios_section {
      padding: 60px;
      background-image: url(../Multimedia/fondoindex2.jpg);
    }
  
    .servicios_contenedor_contenido1 {
      width: auto;
    }
    .servicios_contenido1_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      align-items: center;
    }
  
    .servicios_contenido1_texto {
      margin-top: 20px;
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
  
    .servicios_contenido1_subtitulo2 {
      font-family: Georgia;
      align-items: center;
      text-align: center;
      color: #71ff33;
    }
  
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
      font-family: Georgia;
    }
  
    .servicios_contenido1_imagen {
      width: 350px;
      align-items: center;
      text-align: center;
    }
  
    .servicios_contenido2 {
      width: 100%;
    }
  
    .servicios_contenido2_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      margin-top: 30px;
    }
  
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
    }
  
    .servicios_contenido2_lista {
      color: #71ff33;
      text-align: left;
    }
  
    .lista_contenido {
      list-style: circle;
    }
  
    .servicios_contenido3 {
      width: 100%;
    }
    .servicios_contenido3_subtitulo {
      color: #71ff33;
      text-align: center;
    }
  
    .servicios_contenido3_imagen {
      width: 500px;
      text-align: center;
    }
    .servicios_contenido3_texto {
      color: #71ff33;
      text-align: justify;
      font-family: georgia;
      padding-top: 20px;
    }
  
    .servicios_contenido4 {
      width: 100%;
    }
    .servicios_contenido4_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .lista_contenido4 {
      color: #71ff33;
      font-family: georgia;
      text-align: left;
    }
  
    .servicio_contenido5 {
      width: 100%;
    }
    .servicios_contenido5_subtitulo {
      color: #71ff33;
      text-align: center;
      font-family: georgia;
    }
  
    .servicios_contenido5_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
  
    .servicios_contenido6 {
      width: 100%;
    }
  
    .servicios_contenido6_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .servicios_contenido6_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
  
    .texto_servicios_footer {
      color: #fff;
      font-family: georgia;
      text-align: center;
    }
  
    .a_servicios {
      color: violet;
    }
  
    .li_logo_footer {
      list-style: none;
    }
    .logo_footer {
      gap: 10px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .nav {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    .items {
      display: flex;
      flex-direction: row;
    }
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
    .servicios_section {
  
      width: 100%;
        background-image: url(../Multimedia/fondoindex2.jpg);
        background-size: cover;
        text-align: justify;
        justify-content: center;
    }
  
    .servicios_contenedor {
      align-items: center;
      text-align: center;
    }
  
    .servicios_contenedor_contenido1 {
      width: 100%;
      align-items: center;
      text-align: center;
    }
    .servicios_contenido1_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      align-items: center;
    }
  
    .servicios_contenido1_texto {
      margin-top: 20px;
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
  
    .servicios_contenido1_subtitulo2 {
      font-family: Georgia;
      align-items: center;
      text-align: center;
      color: #71ff33;
    }
  
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
      font-family: Georgia;
    }
  
    .servicios_contenido1_imagen {
      width: 700px;
      align-items: center;
      text-align: center;
    }
  
    .servicios_contenido2 {
      width: 100%;
    }
  
    .servicios_contenido2_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      margin-top: 30px;
    }
  
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
    }
  
    .servicios_contenido2_lista {
      color: #71ff33;
      display: block;
      text-align: left;
    }
  
    .lista_contenido {
      list-style: circle;
    }
  
    .servicios_contenido3 {
      width: 100%;
    }
    .servicios_contenido3_subtitulo {
      color: #71ff33;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .servicios_contenido3_imagen {
      width: 600px;
    }
    .servicios_contenido3_texto {
      color: #71ff33;
      text-align: justify;
      font-family: georgia;
      padding-top: 20px;
    }
  
    .servicios_contenido4 {
      width: 100%;
    }
    .servicios_contenido4_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .lista_contenido4 {
      color: #71ff33;
      font-family: georgia;
      display: block;
      text-align: left;
    }
  
    .servicio_contenido5 {
      width: 100%;
    }
    .servicios_contenido5_subtitulo {
      color: #71ff33;
      text-align: center;
      font-family: georgia;
    }
  
    .servicios_contenido5_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
  
    .servicios_contenido6 {
      width: 100%;
    }
  
    .servicios_contenido6_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .servicios_contenido6_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
  
    .texto_servicios_footer {
      color: #fff;
      font-family: georgia;
      text-align: center;
    }
  
    .a_servicios {
      color: violet;
    }
  
    footer {
      width: 100%;
    }
  
    .li_logo_footer {
      list-style: none;
    }
    .logo_footer {
      gap: 10px;
      display: flex;
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 468px) {
    .nav {
      display: flex;
      flex-direction: row;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    .items {
      display: flex;
      flex-direction: column;
    }
  
    li {
      list-style: none;
    }
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
    .proyecto_contenedor {
      width: 100%;
      padding: 20px;
    }
    .proyecto_contenido {
      width: 100%;
    }
    .proyecto_contenido_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
  
    .proyecto_contenido_subtitulo2 {
      font-size: 20px;
      text-align: center;
      color: #71ff33;
    }
    .proyecto_contenido_texto {
      font-family: georgia;
      color: #71ff33;
    }
  
    .proyeto_contenido_imagen {
      width: 400px;
    }
  
    .EpigrafeDeImagen {
      font-size: 10px;
      color: #71ff33;
      font-family: georgia;
    }
  
    footer {
      width: 100%;
    }
    .texto_footer_proyecto {
      color: #fff;
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 468px) and (max-width: 1023px) {
    .nav {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    .items {
      display: flex;
      flex-direction: row;
    }
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
    .proyecto_contenedor {
      width: 100%;
      padding: 40px;
    }
    .proyecto_contenido {
      width: 100%;
    }
    .proyecto_contenido_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
  
    .proyecto_contenido_subtitulo2 {
      font-size: 20px;
      text-align: center;
      color: #71ff33;
    }
    .proyecto_contenido_texto {
      font-family: georgia;
      color: #71ff33;
    }
  
    .proyeto_contenido_imagen {
      width: 400px;
    }
  
    .EpigrafeDeImagen {
      font-size: 15px;
      color: #71ff33;
      font-family: georgia;
    }
  
    footer {
      width: 100%;
    }
    .texto_footer_proyecto {
      color: #fff;
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .nav {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    .items {
      display: flex;
      flex-direction: row;
    }
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
    .proyecto_contenedor {
      text-align: center;
      padding: 40px;
    }
    .proyecto_contenido {
      width: 100%;
    }
    .proyecto_contenido_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
  
    .proyecto_contenido_subtitulo2 {
      font-size: 20px;
      text-align: center;
      color: #71ff33;
    }
    .proyecto_contenido_texto {
      font-family: georgia;
      color: #71ff33;
      text-align: center;
    }
  
    .proyeto_contenido_imagen {
      width: 600px;
      align-items: center;
    }
  
    .EpigrafeDeImagen {
      font-size: 15px;
      color: #71ff33;
      font-family: georgia;
    }
  
    footer {
      width: 100%;
    }
  
    .logo_footer {
      display: flex;
      flex-direction: column;
    }
    .texto_footer_proyecto {
      color: #fff;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 468px) {
    .contacto_section {
      width: 100%;
      padding: 40px;
    }
  
    .body_div_titulo {
      width: 100%;
      text-align: center;
      color: #71ff33;
      font-family: georgia;
    }
    .contenedordeformulario {
      display: block;
      text-align: center;
      padding: 35px;
    }
  
    .contenidodeformulario{
      padding: 20px;
    }
    label {
      color: #71ff33;
      font-family: georgia;
    }
  
    
  
    .boton {text-align: center;
    margin-top: 20px;}
  
    .text_footer{
      color: #fff;
    }
  }
  
  @media only screen and (min-width: 468px) and (max-width: 1023px) {
    .nav {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    .items {
      display: flex;
      flex-direction: row;
    }
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
    section {
      text-align: center;
  
    }
    .contacto_section {
      padding: 10px;
      
    }
  
    .body_div_titulo {
      width: 100%;
      text-align: center;
      color: #71ff33;
      font-family: georgia;
    }
    .contenedordeformulario {
      text-align: center;
      align-items: center;
      width: min-content;
      padding: 20px;
     
      
    }
    .imput_contacto{
      text-align: center;
    }
  
    .contenidodeformulario{
      padding: 20px;
      text-align: center;
  
      
    }
    label {
      color: #71ff33;
      font-family: georgia;
      
    }
  
    .titulo{
      color: #fff;
    }
  
    
  
    .boton {text-align: center;
    margin-top: 20px;}
  
    .text_footer{
      color: #fff;
    }
  }
  
  
  @media only screen and (min-width: 1024px) {
    .nav {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
  
    .items {
      display: flex;
      flex-direction: row;
    }
  
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
  
    section {
      text-align: center;
  
    }
    .contacto_section {
      padding: 10px;
      
      text-align: center;
    }
  
    .body_div_titulo {
      width: 100%;
      text-align: center;
      color: #71ff33;
      font-family: georgia;
    }
    .contenedordeformulario {
      text-align: center;
      align-items: center;
      
      padding: 20px;
     
      
    }
    .imput_contacto{
      text-align: center;
    }
  
    .contenidodeformulario{
      padding: 20px;
      text-align: center;
  
      
    }
    label {
      color: #71ff33;
      font-family: georgia;
      
    }
  
    .titulo{
      color: #fff;
    }
  
    
  
    .boton {text-align: center;
    margin-top: 20px;}
  
    .text_footer{
      color: #fff;
    }
  }
  