

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
  }
  
  footer {
    background-image: linear-gradient(to top violet, black);
    background-size: cover;
  }
  
  .titulo_index {
    color: #71ff33;
  }
  
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px;
  }
  
  section {
    background-image: url(../Multimedia/fondoindex2.jpg);
    background-size: cover;
    width: 100%;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
  }
  
  footer {
    background-image: linear-gradient(to top violet, black);
    background-size: cover;
  }
  
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px;
  }
  
  @media only screen and (max-width: 468px) {
    .nav {
      display: flex;
      background-image: url(../Multimedia/portada.webp);
      background-size: 100%;
    }
    .items {
      display: block;
    }
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
    .servicios_section {
      width: 100%;
      background-image: url(../Multimedia/fondoindex2.jpg);
    }
    .servicios_contenedor_contenido1 {
      width: 100%;
      display: block;
    }
    .servicios_contenido1_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      align-items: center;
    }
    .servicios_contenido1_texto {
      margin-top: 20px;
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
    .servicios_contenido1_subtitulo2 {
      font-family: Georgia;
      align-items: center;
      text-align: center;
      color: #71ff33;
    }
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
      font-family: Georgia;
    }
    .servicios_contenido1_imagen {
      width: 350px;
      align-items: center;
      text-align: center;
    }
    .servicios_contenido2 {
      width: 100%;
    }
    .servicios_contenido2_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      margin-top: 30px;
    }
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
    }
    .servicios_contenido2_lista {
      color: #71ff33;
    }
    li {
      list-style: circle;
    }
    .servicios_contenido3 {
      width: 100%;
    }
    .servicios_contenido3_subtitulo {
      color: #71ff33;
      text-align: center;
    }
    .servicios_contenido3_imagen {
      width: 350px;
      text-align: center;
    }
    .servicios_contenido3_texto {
      color: #71ff33;
      text-align: justify;
      font-family: georgia;
      padding-top: 20px;
    }
    .servicios_contenido4 {
      width: 100%;
    }
    .servicios_contenido4_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .lista_contenido4 {
      color: #71ff33;
      font-family: georiga;
    }
    .servicio_contenido5 {
      width: 100%;
    }
    .servicios_contenido5_subtitulo {
      color: #71ff33;
      text-align: center;
      font-family: georgia;
    }
    .servicios_contenido5_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
    .servicios_contenido6 {
      width: 100%;
    }
    .servicios_contenido6_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .servicios_contenido6_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
    .texto_servicios_footer {
      color: #fff;
      font-family: georgia;
      text-align: center;
    }
    .a_servicios {
      color: violet;
    }
    .li_logo_footer {
      list-style: none;
    }
    .logo_footer {
      gap: 10px;
    }
  }
  
  @media only screen and (min-width: 468px) and (max-width: 1023px) {
    .nav {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
    .items {
      display: flex;
      flex-direction: row;
    }
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
    .servicios_section {
      padding: 60px;
      background-image: url(../Multimedia/fondoindex2.jpg);
    }
    .servicios_contenedor_contenido1 {
      width: auto;
    }
    .servicios_contenido1_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      align-items: center;
    }
    .servicios_contenido1_texto {
      margin-top: 20px;
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
    .servicios_contenido1_subtitulo2 {
      font-family: Georgia;
      align-items: center;
      text-align: center;
      color: #71ff33;
    }
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
      font-family: Georgia;
    }
    .servicios_contenido1_imagen {
      width: 350px;
      align-items: center;
      text-align: center;
    }
    .servicios_contenido2 {
      width: 100%;
    }
    .servicios_contenido2_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      margin-top: 30px;
    }
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
    }
    .servicios_contenido2_lista {
      color: #71ff33;
      text-align: left;
    }
    .lista_contenido {
      list-style: circle;
    }
    .servicios_contenido3 {
      width: 100%;
    }
    .servicios_contenido3_subtitulo {
      color: #71ff33;
      text-align: center;
    }
    .servicios_contenido3_imagen {
      width: 500px;
      text-align: center;
    }
    .servicios_contenido3_texto {
      color: #71ff33;
      text-align: justify;
      font-family: georgia;
      padding-top: 20px;
    }
    .servicios_contenido4 {
      width: 100%;
    }
    .servicios_contenido4_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .lista_contenido4 {
      color: #71ff33;
      font-family: georgia;
      text-align: left;
    }
    .servicio_contenido5 {
      width: 100%;
    }
    .servicios_contenido5_subtitulo {
      color: #71ff33;
      text-align: center;
      font-family: georgia;
    }
    .servicios_contenido5_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
    .servicios_contenido6 {
      width: 100%;
    }
    .servicios_contenido6_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .servicios_contenido6_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
    .texto_servicios_footer {
      color: #fff;
      font-family: georgia;
      text-align: center;
    }
    .a_servicios {
      color: violet;
    }
    .li_logo_footer {
      list-style: none;
    }
    .logo_footer {
      gap: 10px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .nav {
      display: block;
      background-image: url(../Multimedia/portada.webp);
      background-size: cover;
    }
    .items {
      display: flex;
      flex-direction: row;
    }
    .imagenlogo {
      display: flex;
      width: 100px;
      height: 100px;
    }
    .servicios_section {
      width: 100%;
      background-image: url(../Multimedia/fondoindex2.jpg);
      background-size: cover;
      text-align: justify;
      justify-content: center;
    }
    .servicios_contenedor {
      align-items: center;
      text-align: center;
    }
    .servicios_contenedor_contenido1 {
      width: 100%;
      align-items: center;
      text-align: center;
    }
    .servicios_contenido1_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      align-items: center;
    }
    .servicios_contenido1_texto {
      margin-top: 20px;
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
    .servicios_contenido1_subtitulo2 {
      font-family: Georgia;
      align-items: center;
      text-align: center;
      color: #71ff33;
    }
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
      font-family: Georgia;
    }
    .servicios_contenido1_imagen {
      width: 700px;
      align-items: center;
      text-align: center;
    }
    .servicios_contenido2 {
      width: 100%;
    }
    .servicios_contenido2_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
      margin-top: 30px;
    }
    .servicios_contenido1_texto2 {
      color: #71ff33;
      text-align: justify;
    }
    .servicios_contenido2_lista {
      color: #71ff33;
      display: block;
      text-align: left;
    }
    .lista_contenido {
      list-style: circle;
    }
    .servicios_contenido3 {
      width: 100%;
    }
    .servicios_contenido3_subtitulo {
      color: #71ff33;
      text-align: center;
      margin-bottom: 20px;
    }
    .servicios_contenido3_imagen {
      width: 600px;
    }
    .servicios_contenido3_texto {
      color: #71ff33;
      text-align: justify;
      font-family: georgia;
      padding-top: 20px;
    }
    .servicios_contenido4 {
      width: 100%;
    }
    .servicios_contenido4_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .lista_contenido4 {
      color: #71ff33;
      font-family: georgia;
      display: block;
      text-align: left;
    }
    .servicio_contenido5 {
      width: 100%;
    }
    .servicios_contenido5_subtitulo {
      color: #71ff33;
      text-align: center;
      font-family: georgia;
    }
    .servicios_contenido5_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
    .servicios_contenido6 {
      width: 100%;
    }
    .servicios_contenido6_subtitulo {
      color: #71ff33;
      font-family: georgia;
      text-align: center;
    }
    .servicios_contenido6_texto {
      color: #71ff33;
      font-family: georgia;
      text-align: justify;
    }
    .texto_servicios_footer {
      color: #fff;
      font-family: georgia;
      text-align: center;
    }
    .a_servicios {
      color: violet;
    }
    footer {
      width: 100%;
    }
    .li_logo_footer {
      list-style: none;
    }
    .logo_footer {
      gap: 10px;
      display: flex;
      flex-direction: column;
    }
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .items {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
  }
  
  footer {
    background-image: linear-gradient(to top violet, black);
    background-size: cover;
  }
  
  .titulo_index {
    color: #71ff33;
  }
  
  .imagenlogo {
    display: flex;
    width: 100px;
    height: 100px;
  }
  
  section {
    background-image: url(../Multimedia/fondoindex2.jpg);
  }
  
 
  

@import "index"; 
@import "contacto";
@import "quienes_somos";
@import "proyectos";
@import "variables";
